.login-form-button {
  width: 60%;
  margin-top: 25px;
}

.ant-form-item {
  margin-bottom: 15px !important;
}

.ant-form-item-label {
  padding: 0 !important;
}

.repeat-content {
  margin-top: 10px;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
  background-color: #fafafa;
  height: 200px;
  text-align: center;
  display: grid;
  align-items: center;
  justify-items: center;
  overflow-y: auto;
}

.ant-checkbox-group-item {
  margin: 0 !important;
}
