@import '~antd/dist/antd.css';


.userID, .password {
  margin-bottom: 0px;
  font-size: 11px;
}

.passwordRow {
  margin-top: 15px;
}

.btnRow{
  margin-top: 25px;
}

.App {
  text-align: center;

}

.cardLogin{
  border-radius: 20px !important;
}


.forgot{
  color: red;
  font-size: 11px;
}

.cardWhole{
  height: 500px;
}

.col2{
  margin-top: 60px;
}

.cardLogin{
    /* width: 70%; */
}

.inp1{
  border-radius: 15px;
  width: 70%;
  border: 1px solid grey;
}

.label{
padding:0 px;
margin: 0 0 0 0;
font-size: 11px;
color: grey;
}

.login{
  /* background-color: cadetblue; */
  height: 625px;
  border: 0px;
  
}

.container{
  height: 625px;
}

.input{
  border-radius: 10px;
  padding-left: 35px;
  padding-top: 8px;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.loginBtnDiv{
width: 50px;
margin-top: 20px;
margin-left: 35px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
